* {
  padding: 0;
  margin: 0;
}

li {
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
}

.wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.scroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}